@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Tilt+Warp&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin button {
    width: 161px;
    height: 40px;
    text-decoration: none;
    background: #FF3839;
    border-radius: 5px;
    display: grid;
    place-items: center;
    margin-top: 36px;

    span {
        color: #FFFFFF;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.container {
    max-width: 1173px !important;
    margin: auto;
}

header {
    background-color: #202020;

    nav {
        padding: 21px 0;

        .nav-menu {
            ul {
                margin-bottom: 0px;
                padding-left: 0px;

                li {
                    display: inline;
                    margin: 15px;

                    a {
                        text-decoration: none;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                    }
                }
            }
        }

        .nav-button {
            display: flex;
            justify-content: flex-end;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                // display: grid;
                // place-content: center; // perfect center le eyni funksiyani gorur
                width: 128px;
                height: 44px;
                background: #FF3839;
                border-radius: 5px;
                text-decoration: none;

                span {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.first-section {
    background-image: url(../img/graphic-designers-meeting.png);
    background-color: #202020;
    width: 100%;
    height: calc(100vh - 95px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    place-items: center;

    .first-content {
        width: 725px;
        height: 381px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            text-align: center;

            span {
                color: #FF3839;
            }

            &:nth-child(2) {
                font-weight: 700;
                font-size: 64px;
                line-height: 128.5%;
                letter-spacing: 0.03em;
                // text-align: center;
            }
        }

        img {
            width: 508px;
            margin-right: 25px;
            padding-bottom: 18px;
            align-self: flex-end;
        }

        .first-section-button {
            display: flex;
            gap: 20px;

            a {
                &:nth-child(2) {
                    background-color: #fff;

                    span {
                        color: #202020;
                    }
                }

                @include button()
            }
        }
    }
}

.second-section {
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-content: center;

    .second-content {
        display: flex;

        .box-img {
            position: relative;
            width: 590px;
            height: 505px;

            img {
                position: absolute;
                border-radius: 10px;
                &:nth-child(2) {
                    bottom: 0;
                    right: 50px;
                }
            }
        }

        .box-text {
            width: 535px;
            margin-left: 30px;

            .text-one {
                img {
                    width: 143px;
                    height: 1px;
                }

                span {
                    margin-bottom: 0;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 155%;
                    letter-spacing: 0.03em;
                    color: #FF3839;

                    &:nth-child(1) {
                        color: #696969;
                    }
                }
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 125.5%;
                letter-spacing: 0.03em;
                color: #000000;

                span {
                    color: #FF3839;
                }

                &:nth-child(3),
                &:nth-child(4) {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 155%;
                    text-align: justify;
                    letter-spacing: 0.03em;
                    color: #696969;
                }
            }

            a {
                color: #fff;
                @include button()
            }
        }
    }
}

.third-section {
    height: 100vh;
    background-color: #202020;
    display: grid;
    place-content: center;

    .third-content {
        display: flex;
        justify-content: space-between;
        .third-content-text {
            width: 530px;
            margin-right: 25px;
            img {
                margin-left: 5px;
            }

            span {
                margin-left: 5px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 155%;
                text-align: justify;
                letter-spacing: 0.03em;
                color: #F8F8F8;

                &:nth-child(1) {
                    color: #FF3839;
                    margin-left: 0;
                }
            }

            p {
                margin: 10px 0;
                font: normal 700 48px/125.5% 'Poppins';
                letter-spacing: 0.03em;
                color: #F8F8F8;

                span {
                    font: normal 700 48px/125.5% 'Poppins';
                    color: #FF3839;
                }
            }

            .third-content-main-text {
                margin: 25px 0;
                font: normal 400 16px/155% 'Poppins';
                text-align: justify;
            }

            a {
                color: #F8F8F8;
                @include button()
            }

        }

        .third-content-cards {
            margin-left: 25px;
            display: flex;
            flex-wrap: wrap;
            gap: 25px;

            .card-custom {
                width: 263px;
                height: 168px;
                border-radius: 10px;
                background-color: #F8F8F8;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-top: 15px;
                margin-bottom: 35px;

                &:nth-child(3),&:nth-child(4){
                    margin: 0;
                }

                
                img{
                    width: 75px;
                    height: 75px;
                    position: absolute;
                    top: -40px;
                    left: 50%;
                    transform: translate(-50%);

                    &:nth-child(1){
                        width: 38px;
                        height: 38px;
                        top: -23px;
                        z-index: 2;
                    }
                }

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #000000;

                    &:nth-child(4) {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 155%;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #696969;
                    }
                }
            }
        }
    }
}