@media (max-width: 992px) {
  .container {
    max-width: 756px !important;
    margin: auto;
  }
  header .nav-logo {
    display: flex;
    justify-content: center;
  }
  header .nav-menu .bars {
    color: aliceblue;
    font-size: 28px;
  }
  header .nav-button {
    display: flex;
    justify-content: flex-end;
  }
  .second-section {
    height: auto;
  }
  .second-section .second-content {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .second-section .second-content .box-img {
    width: 450px;
    height: 400px;
  }
  .second-section .second-content .box-img img {
    width: 300px;
    height: 330px;
  }
  .second-section .second-content .box-img img:nth-child(2) {
    width: 250px;
    height: 270px;
  }
  .second-section .second-content .box-text {
    margin-left: 0px;
  }
  .second-section .second-content .box-text p {
    margin-top: 10px;
  }
  .third-section {
    height: auto;
  }
  .third-section .third-content {
    margin: 60px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .third-section .third-content .third-content-text {
    margin: 0;
    margin-bottom: 30px;
    margin-right: 25px;
  }
  .third-section .third-content .third-content-cards {
    margin: 0;
    margin-top: 30px;
    justify-content: center;
  }
  .fourth-section .fourth-content .part3 .part3-button {
    padding: 5px 20px;
  }
  .fourth-section .fourth-content .part3 .part3-button span {
    font-size: 14px;
  }
  .fourth-section .fourth-content .part4 img {
    width: 100%;
  }
  .fifth-section .fifth-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fifth-section .fifth-content .part-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .fifth-section .fifth-content .part-2 p {
    margin: 0;
    margin-top: 20px;
    text-align: center;
  }
  .fifth-section .fifth-content .part-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fifth-section .fifth-content .part-3 .card-point:last-child {
    margin-top: 90px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 610px !important;
  }
  .first-section .first-content {
    width: 565px;
    height: auto;
  }
  .first-section .first-content p:nth-child(2) {
    font-size: 50px;
  }
  .first-section .first-content img {
    width: 390px;
  }
  .first-section .first-content .first-section-button a {
    margin-top: 21px;
  }
  .second-section .second-content .box-img {
    width: 395px;
    height: 370px;
  }
  .second-section .second-content .box-img img {
    width: 280px;
    height: 300px;
  }
  .second-section .second-content .box-img img:nth-child(2) {
    width: 235px;
    height: 240px;
    right: 0;
  }
  .second-section .second-content .box-text .text-one span {
    font-size: 14px;
  }
  .second-section .second-content .box-text p {
    font-size: 44px;
  }
  .second-section .second-content .box-text p:nth-child(3), .second-section .second-content .box-text p:nth-child(4) {
    font-size: 14px;
  }
  .fourth-section .fourth-content .part3 .part3-button {
    padding: 5px 17px;
  }
  .fourth-section .fourth-content .part3 .part3-button span {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .third-section .third-content .third-content-cards .card-custom {
    margin-top: 10px !important;
    margin-bottom: 35px !important;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 440px !important;
  }
  header .nav-logo img {
    width: 150px;
  }
  header .nav-button a {
    width: 125px !important;
    height: 35px !important;
  }
  header .nav-button a span {
    font-size: 11px !important;
  }
  .first-section {
    height: auto;
    padding: 40px 0;
  }
  .first-section .first-content {
    width: 366px;
  }
  .first-section .first-content p:nth-child(2) {
    font-size: 30px;
  }
  .first-section .first-content p:nth-child(4) {
    font-size: 12px;
  }
  .first-section .first-content img {
    width: 240px;
  }
  .first-section .first-content .first-section-button a {
    width: 125px;
    height: 35px;
  }
  .first-section .first-content .first-section-button a span {
    font-size: 12px;
  }
  .second-section .second-content {
    margin: 40px 0;
    width: 300px;
  }
  .second-section .second-content .box-img {
    width: 300px;
    height: 287px;
  }
  .second-section .second-content .box-img img {
    width: 215px;
    height: 220px;
  }
  .second-section .second-content .box-img img:nth-child(2) {
    width: 180px;
    height: 190px;
    right: 0;
  }
  .second-section .second-content .box-text {
    width: 330px;
  }
  .second-section .second-content .box-text .text-one img {
    width: 128px;
    margin-right: 5px;
  }
  .second-section .second-content .box-text .text-one span {
    font-size: 12px;
  }
  .second-section .second-content .box-text p {
    font-size: 27px;
  }
  .second-section .second-content .box-text p:nth-child(3), .second-section .second-content .box-text p:nth-child(4) {
    font-size: 12px;
  }
  .second-section .second-content .box-text a {
    width: 125px !important;
    height: 35px !important;
    text-decoration: none;
    background: #FF3839;
    border-radius: 5px;
    display: grid;
    place-items: center;
    margin-top: 20px !important;
  }
  .second-section .second-content .box-text a span {
    color: #FFFFFF !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .third-section .third-content {
    margin: 40px 0;
  }
  .third-section .third-content .third-content-text {
    width: 320px !important;
    margin-right: 10px;
  }
  .third-section .third-content .third-content-text img {
    width: 125px;
  }
  .third-section .third-content .third-content-text span {
    font-size: 12px !important;
  }
  .third-section .third-content .third-content-text p {
    font-size: 30px !important;
  }
  .third-section .third-content .third-content-text p span {
    font-size: 27px !important;
  }
  .third-section .third-content .third-content-text .third-content-main-text {
    font-size: 12px !important;
    margin: 10px 0 !important;
  }
  .third-section .third-content .third-content-text a {
    width: 125px !important;
    height: 35px !important;
    text-decoration: none;
    background: #FF3839;
    border-radius: 5px;
    display: grid;
    place-items: center;
    margin-top: 20px !important;
  }
  .third-section .third-content .third-content-text a span {
    color: #FFFFFF !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .third-section .third-content .third-content-cards {
    margin-right: 0;
  }
  .third-section .third-content .third-content-cards .card-custom {
    margin-top: 10px !important;
    margin-bottom: 35px !important;
  }
  .fourth-section .fourth-content .part1 img {
    width: 90px;
  }
  .fourth-section .fourth-content .part1 span {
    font-size: 14px;
  }
  .fourth-section .fourth-content .part2 {
    width: auto;
  }
  .fourth-section .fourth-content .part2 p {
    font-size: 32px;
  }
  .fourth-section .fourth-content .part3 {
    display: grid;
    gap: 10px;
  }
}/*# sourceMappingURL=main_res.css.map */