@media (max-width:992px) {
    .container {
        max-width: 756px !important;
        margin: auto;
    }

    header {
        .nav-logo {
            display: flex;
            justify-content: center;
        }

        .nav-menu {
            .bars {
                color: aliceblue;
                font-size: 28px;
            }
        }

        .nav-button {
            display: flex;
            justify-content: flex-end;
        }
    }

    .first-section {
        height: 700px;
    }

    .second-section {
        height: auto;

        .second-content {
            margin: 60px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            .box-img {
                width: 450px;
                height: 400px;

                img {
                    width: 300px;
                    height: 330px;

                    &:nth-child(2) {
                        width: 250px;
                        height: 270px;
                    }
                }
            }

            .box-text {
                margin-left: 0px;

                p {
                    margin-top: 10px;
                }
            }
        }
    }

    .third-section {
        height: auto;

        .third-content {
            margin: 60px 0;
            display: flex;
            gap: 20px;
            justify-content: center;

            .third-content-text {
                margin: 0;
                margin-bottom: 30px;
                margin-right: 24px;
            }

            .third-content-cards {
                margin: 0;
                margin-top: 30px;
                justify-content: center;
            }
        }
    }

    .fourth-section {
        .fourth-content {
            .part3 {
                .part3-button {
                    padding: 5px 20px;

                    span {
                        font-size: 14px;
                    }
                }
            }

            .part4 {
                img {
                    width: 100%;
                }
            }
        }
    }

    .fifth-section {
        .fifth-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .part-1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }

            .part-2 {
                p {
                    margin: 0;
                    margin-top: 20px;
                    text-align: center;
                }
            }

            .part-3 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 80px;

                .card-point {
                    width: 320px;
                    height: 205px;

                    .card-logo {
                        width: 86px;
                        height: 86px;
                        left: 163px;
                        top: -45px;
                    }

                    .card-content {
                        .card-stars {
                            img {
                                width: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    .sixth-section {
        .sixth-content {
            .sixth-content-part-1 {
                .line-3 {
                    width: 105px;
                }

                span {
                    font-size: 14px;
                }
            }

            .sixth-content-part-2 {
                p {
                    font-size: 42px;
                }
            }

            .scrollspy-custom {
                button {
                    width: 690px;

                    p {
                        font-size: 14px;
                    }
                }

                .scrollspy-text {
                    width: 690px;

                    p {
                        width: auto;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .seventh-section {
        display: grid;
        place-content: center;

        .seventh-content {
            width: 600px;
            flex-direction: column;
            margin-left: 20px;

            .seventh-content-text {
                p {

                    width: 520px;

                    &:nth-child(3) {
                        width: 533px;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;

                    .submit-message {
                        width: 185px;
                        height: 48px;
                    }
                }
            }

            .seventh-content-img {
                img {
                    width: 560px;
                    height: 560px;
                    object-fit: contain;
                }
            }
        }
    }

    footer {
        .footer-content-one {
            flex-wrap: wrap;
            justify-content: space-evenly;

            .share-content-one {
                width: 300px;
            }

            ul {
                li {
                    margin-bottom: 18px;
                }
            }

            .share-content-three {
                order: 3;
            }

            .share-content-four {
                width: 297px;
            }


        }

        .footer-content-two {
            flex-direction: column;
            gap: 15px;

            .shared-link-2 {
                gap: 25px;
            }
        }
    }
}

@media (max-width:768px) {
    .container {
        max-width: 610px !important;
    }

    .first-section {
        height: 580px;

        .first-content {
            width: 565px;
            height: auto;

            p {
                &:nth-child(2) {
                    font-size: 50px;
                }
            }

            img {
                width: 390px;
            }

            .first-section-button {
                a {
                    margin-top: 21px;
                }
            }
        }
    }

    .second-section {

        .second-content {
            .box-img {
                width: 395px;
                height: 370px;

                img {
                    width: 280px;
                    height: 300px;

                    &:nth-child(2) {
                        width: 235px;
                        height: 240px;
                        right: 0;
                    }
                }
            }

            .box-text {
                .text-one {
                    span {
                        font-size: 14px;
                    }
                }

                p {
                    font-size: 44px;

                    &:nth-child(3),
                    &:nth-child(4) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .fourth-section {
        .fourth-content {
            .part3 {
                .part3-button {
                    padding: 5px 17px;

                    span {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .fifth-section {
        .fifth-content {
            .part-2 {
                p {
                    font-size: 44px;
                }
            }
        }
    }

    .sixth-section {
        .sixth-content {
            .sixth-content-part-1 {
                .line-3 {
                    width: 105px;
                }

                span {
                    font-size: 14px;
                }
            }

            .sixth-content-part-2 {
                p {
                    font-size: 40px;
                }
            }

            .scrollspy-custom {
                button {
                    width: 500px;

                    p {
                        font-size: 13px;
                    }
                }

                .scrollspy-text {
                    width: 500px;

                    p {
                        width: auto;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .seventh-section {
        display: grid;
        place-content: center;

        .seventh-content {
            width: 530px;
            flex-direction: column;
            margin-left: 20px;

            .seventh-content-text {
                margin: 0;

                .text-1 {
                    .line-4 {
                        width: 124px;
                    }

                    span {
                        font-size: 14px;
                    }
                }

                p {
                    font-size: 42px;
                    width: 480px;

                    &:nth-child(3) {
                        font-size: 14px;
                        width: 470px;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;

                    input {
                        width: 470px;
                    }

                    textarea {
                        width: 470px;
                    }

                    .submit-message {
                        width: 185px;
                        height: 48px;
                    }
                }
            }

            .seventh-content-img {
                img {
                    width: 530px;
                    height: 475px;
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .third-section {
        .third-content {
            .third-content-cards {
                .card-custom {
                    margin-top: 10px !important;
                    margin-bottom: 35px !important;
                }
            }
        }
    }
}

@media (max-width:576px) {
    .container {
        max-width: 440px !important;
    }

    @mixin button {
        width: 125px !important;
        height: 35px !important;
        margin-top: 20px !important;

        span {
            color: #FFFFFF !important;
            font-size: 12px !important;
        }

    }

    header {
        .nav-logo {
            img {
                width: 150px;
            }
        }

        .nav-button {
            a {
                width: 125px !important;
                height: 35px !important;

                span {
                    font-size: 11px !important;
                }
            }
        }
    }

    .first-section {
        height: auto;
        padding: 40px 0;

        .first-content {
            width: 366px;

            p {
                &:nth-child(2) {
                    font-size: 30px;
                }

                &:nth-child(4) {
                    font-size: 12px;
                }
            }

            img {
                width: 240px;
            }

            .first-section-button {
                a {
                    width: 125px;
                    height: 35px;

                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .second-section {
        .second-content {
            margin: 40px 0;
            width: 300px;

            .box-img {
                width: 300px;
                height: 287px;

                img {
                    width: 215px;
                    height: 220px;

                    &:nth-child(2) {
                        width: 180px;
                        height: 190px;
                        right: 0;
                    }
                }
            }

            .box-text {
                width: 330px;

                .text-one {
                    img {
                        width: 128px;
                        margin-right: 5px;
                    }

                    span {
                        font-size: 12px;
                    }
                }

                p {
                    font-size: 27px;

                    &:nth-child(3),
                    &:nth-child(4) {
                        font-size: 12px;
                    }
                }

                a {
                    @include button()
                }
            }
        }
    }

    .third-section {
        .third-content {
            margin: 40px 0;

            .third-content-text {
                width: 320px !important;
                margin-right: 10px;

                img {
                    width: 125px;
                }

                span {
                    font-size: 12px !important;
                }

                p {
                    font-size: 30px !important;

                    span {
                        font-size: 27px !important;
                    }
                }

                .third-content-main-text {
                    font-size: 12px !important;
                    margin: 10px 0 !important;
                }

                a {
                    @include button()
                }
            }

            .third-content-cards {
                margin-right: 0;

                .card-custom {
                    margin-top: 10px !important;
                    margin-bottom: 35px !important;

                    // &:last-child{
                    //     margin-bottom: 0 !important;
                    // }
                }
            }
        }
    }

    .fourth-section {
        .fourth-content {
            .part1 {
                img {
                    width: 90px;
                }

                span {
                    font-size: 14px;
                }
            }

            .part2 {
                width: auto;

                p {
                    font-size: 32px;
                }
            }

            .part3 {
                display: grid;
                gap: 10px;
            }


        }
    }

    .fifth-section {
        padding: 80px 0;

        .fifth-content {
            .part-2 {
                width: auto;
                display: grid;
                place-items: center;

                p {
                    font-size: 35px;
                }
            }
        }
    }

    .sixth-section {
        padding: 70px 0 60px 0;

        .sixth-content {
            .sixth-content-part-1 {
                .line-3 {
                    width: 95px;
                }

                span {
                    font-size: 12px;
                }
            }

            .sixth-content-part-2 {
                margin-bottom: 30px;

                p {
                    width: auto;
                    font-size: 36px;
                }
            }

            .scrollspy-custom {
                button {
                    width: 360px;
                    height: 84px;
                    flex-direction: column;
                    padding: 10px 10px 5px 10px;

                    p {
                        font-size: 13px;
                    }
                }

                .scrollspy-text {
                    width: 360px;
                    height: 144px;

                    p {
                        width: auto;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .seventh-section {
        display: grid;
        place-content: center;

        .seventh-content {
            width: 350px;
            flex-direction: column;
            margin-left: 0;
            gap: 40px;

            .seventh-content-text {
                margin: 0;

                .text-1 {
                    .line-4 {
                        width: 124px;
                    }

                    span {
                        font-size: 14px;
                    }
                }

                p {
                    font-size: 32px;
                    width: 350px;
                    margin-top: 8px;

                    &:nth-child(3) {
                        font-size: 12px;
                        width: 350px;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;

                    input {
                        width: 350px;
                    }

                    textarea {
                        width: 350px;
                    }

                    .submit-message {
                        width: 185px;
                        height: 48px;
                    }
                }
            }

            .seventh-content-img {
                img {
                    width: 340px;
                    height: 310px;
                    object-fit: contain;
                }
            }
        }
    }

    footer {
        .footer-content-one {
            gap: 55px;

            .share-content-one {
                width: 300px;
                margin-right: 25px;
            }

            .share-content-four {
                width: 325px;
                order: 3;
                margin-right: 10px;
            }
        }

        .footer-content-two {
            flex-direction: column;
            gap: 15px;
            
            span{
                font-size: 14px;
            }

            .shared-link-2 {
                gap: 25px;
                
                a{
                    font-size: 14px;
                }
            }
        }
    }
}