@media (max-width:992px) {
    .container{
        max-width: 756px !important;
        margin: auto;
    }

    header{
        .nav-logo{
            display: flex;
            justify-content: center;
        }

        .nav-menu{
            .bars{
                color: aliceblue;
                font-size: 28px;
            }
        }

        .nav-button{
            display: flex;
            justify-content: flex-end;
        }
    }

    .second-section{
        height: auto;

        .second-content{
            margin:60px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center ;
            gap: 40px;
            .box-img{
                width: 450px;
                height: 400px;
                img{
                    width: 300px;
                    height: 330px;

                    &:nth-child(2){
                        width: 250px;
                        height: 270px;
                    }
                }
            }

            .box-text{
                margin-left: 0px;

                p{
                    margin-top: 10px;
                }
            }  
        }
    }

    .third-section{
        height: auto;

        .third-content{
            margin: 60px 0;
            display: flex;
            gap: 20px;
            justify-content: center;

            .third-content-text{
                margin: 0;
                margin-bottom: 30px;
                margin-right: 25px;
            }

            .third-content-cards{
                margin: 0;
                margin-top: 30px;
                margin-right: 25px;
                justify-content: center;
            }
        }
    }
}

@media (max-width:768px) {
    .container{
        max-width: 610px !important;
    }

    .first-section{
        .first-content{
            width: 565px;
            height: auto;

            p{
                &:nth-child(2){
                    font-size: 50px;
                }
            }

            img{
                width: 390px;
            }

            .first-section-button{
                a{
                    margin-top: 21px;
                }
            }
        }
    }

    .second-section{

        .second-content{
            .box-img{
                width: 395px;
                height: 370px;
                img{
                    width: 280px;
                    height: 300px;

                    &:nth-child(2){
                        width: 235px;
                        height: 240px;
                        right: 0;
                    }
                }
            }

            .box-text{
                .text-one{
                    span{
                        font-size: 14px;
                    }
                }
                p{
                    font-size: 44px;

                    &:nth-child(3),&:nth-child(4){
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width:576px){
    .container{
        max-width: 440px !important;
    }

    @mixin button {
        width: 125px !important;
        height: 35px !important;
        text-decoration: none;
        background: #FF3839;
        border-radius: 5px;
        display: grid;
        place-items: center;
        margin-top: 20px !important;
    
        span {
            color: #FFFFFF;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px !important;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.03em;
        }

    }

    header{
        .nav-logo{
            img{
                width: 150px;
            }
        }

        .nav-button{
            a{
                width: 125px !important;
                height: 35px !important;
                span{
                    font-size: 11px !important;
                }
            }
        }
    }

    .first-section{
        height: auto;
        padding: 40px 0;
        .first-content{
            width: 366px;

            p{
                &:nth-child(2){
                    font-size: 30px;
                }

                &:nth-child(4){
                    font-size: 12px;
                }
            }

            img{
                width: 240px;
            }

            .first-section-button{
                a{
                    width: 125px;
                    height: 35px;

                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .second-section{
        .second-content{
            margin: 40px 0;

            .box-img{
                width: 300px;
                height: 287px;

                img{
                    width: 215px;
                    height: 220px;

                    &:nth-child(2){
                        width: 180px;
                        height: 190px;
                        right: 0;
                    }
                }
            }

            .box-text{
                width: 330px;

                .text-one{
                    img{
                        width: 128px;
                        margin-right: 5px;
                    }
                    span{
                        font-size: 12px;
                    }
                }

                p{
                    font-size: 30px;

                    &:nth-child(3),&:nth-child(4){
                        font-size: 12px;
                    }
                }

                a{
                    @include button()
                }
            }
        }
    }

    .third-section{
        .third-content{
            margin: 40px 0;

            .third-content-text{
                width: 340px !important;

                img{
                    width: 125px;
                }
    
                span{
                    font-size: 12px !important;
                }
    
                p{
                    font-size: 30px !important;
    
                    span{
                        font-size: 30px !important;
                    }
                }
    
                .third-content-main-text{
                    font-size: 12px !important;
                    margin: 10px 0 !important;
                }
    
                a{
                    @include button()
                }
            }

            .third-content-cards{
                .card-custom{
                    margin-top: 10px !important;
                    margin-bottom: 35px !important;

                    &:last-child{
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}